<!-- find me in partials/data_tables_custom -->

<div id="dataTables">

<table cellpadding="0" cellspacing="0" border="0" class="<%= custom_class %> responsive">
<thead>
<tr>
  <th><div>Broker</div></th>
  <th><div>Enrolled</div></th>
  <th><div>Disenrolled</div></th>
  <th><div>Churn %</div></th>
</tr>
</thead>
<tbody>

<tr>
  <td>Xample Rep</td>
  <td>20</td>
  <td>1</td>
  <td>5.0%</td>
</tr>

<tr>
  <td>Test Sample</td>
  <td>94</td>
  <td>0</td>
  <td>0.0%</td>
</tr>

<tr>
  <td>Edward Eagle</td>
  <td>126</td>
  <td>3</td>
  <td>2.4%</td>
</tr>


<tr>
  <td>Eloy Maloy</td>
  <td>130</td>
  <td>3</td>
  <td>2.3%</td>
</tr>


<tr>
  <td>Dale C. Donald</td>
  <td>168</td>
  <td>3</td>
  <td>1.8%</td>
</tr>


<tr>
  <td>Luther Lord</td>
  <td>182</td>
  <td>1</td>
  <td>0.1%</td>
</tr>

<tr>
  <td>Marianna Maybe</td>
  <td>195</td>
  <td>5</td>
  <td>2.6%</td>
</tr>


<tr>
  <td>Guadalupe Grat</td>
  <td>208</td>
  <td>2</td>
  <td>1.0%</td>
</tr>


<tr>
  <td>Charlene Chuck</td>
  <td>219</td>
  <td>0</td>
  <td>0.0%</td>
</tr>


<tr>
  <td>John Jones</td>
  <td>228</td>
  <td>3</td>
  <td>1.3%</td>
</tr>


<tr>
  <td>Steve Smith</td>
  <td>526</td>
  <td>13</td>
  <td>2.5%</td>
</tr>


</tbody>
</table>
</div>