<!-- find me in partials/enrollment_chart -->

<div class="box-header"><span class="title">Membership - Jan 2014</span></div>

<!-- WGG remove settings drop down ...

    <ul class="box-toolbar">
      <li class="toolbar-link">
        <a href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-plus-sign"></i> Add</a></li>
          <li><a href="#"><i class="icon-remove-sign"></i> Remove</a></li>
          <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        </ul>
      </li>
    </ul>
... WGG -->

<div class="box-content padded">
  <div class="row">
    <div class="col-md-12 separate-sections" style="margin-top: 5px;">
        <div class="row">
          <div class="col-md-12">
            <div class="dashboard-stats">
              <ul class="list-inline">
                <li class="glyph"><i class="icon-user icon-2x"></i></li>
                <li class="count">36,042</li>
              </ul>

              <div class="progress">
                <div class="progress-bar progress-blue tip" title="36,042" data-percent="90"></div>
              </div>

              <div class="stats-label">Active Enrollments</div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:30px;">
          <div class="col-md-12">
            <div class="dashboard-stats small">
              <ul class="list-inline">
                <li class="glyph2"><i class="icon-plus icon-1x"></i></li>
                <li class="count">3,246</li>
              </ul>
              <div class="progress">
                <div class="progress-bar progress-green tip" title="3,246" data-percent="75"></div>
              </div>

              <div class="stats-label">New Members</div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="dashboard-stats small">
               <ul class="list-inline">
                <li class="glyph3"><i class="icon-minus icon-1x"></i></li>
                <li class="count">689</li>
               </ul>
              <div class="progress">
                <div class="progress-bar progress-red tip" title="689" data-percent="45"></div>
              </div>
              <div class="stats-label">Disenrollments</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>





